# Node
node_modules/
npm-debug.log
yarn.lock
pnpm-lock.yaml
dist/
build/

# Python
__pycache__/
*.py[cod]
*.env
.venv/
venv/

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log
